<div class="container-notes" *ngIf="workspaces">
  <!-- Action Bar -->
  <div class="container-actionbar">
    <form [formGroup]="notesForm" (ngSubmit)="handleSubmit()">
      <tui-input formControlName="title" class="inp-notes">
        <label>Note Title</label>
        <input type="text" tuiTextfield />
      </tui-input>

      <tui-input formControlName="note" class="inp-notes">
        <label>Note</label>
        <input type="text" tuiTextfield />
      </tui-input>

      <tui-input formControlName="tag" class="inp-notes">
        <label>Tag</label>
        <input type="text" tuiTextfield />
      </tui-input>

      <tui-select formControlName="workspace" [readOnly]="!workspaces.length">
        <label for="">Workspace</label>
        <input tuiTextfield placeholder="Select Workspace" />
        <tui-data-list-wrapper *tuiDataList [items]="getWorkspaceNames()">
        </tui-data-list-wrapper>
      </tui-select>
      <button tuiButton type="submit">Add Note</button>
    </form>
  </div>
  <tui-scrollbar>
    <div class="container-note-list">
      <tui-island
        class="container-note"
        *ngFor="let note of notes"
        [ngStyle]="{ '--border-color': getWorkspaceColor(note.workspaceId) }"
      >
        <span class="tui-island__category">{{ note.tag }}</span>
        <h2 class="tui-island__title">{{ note.title }}</h2>
        <tui-scrollbar>
          <p class="tui-island__paragraph">{{ note.note }}</p>
        </tui-scrollbar>
      </tui-island>
    </div>
  </tui-scrollbar>
</div>
