@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-logo {
  font-family: "Rubik Dirt", cursive;
}


// So that router-outlet dont affect css
router-outlet{
    display: none;
    & + *{
      flex: 1;
    }
}