<div class="container-sidebar">
    <div class="container-logo">
        <p class="logo font-logo" routerLink="/" >
            Note Plus
        </p>
    </div>

    <div class="container-navs">
        <div class="container-pages">
            <a routerLink="/workspaces" tuiButton size="m" appearance="outline" >Workspaces</a>
            <a routerLink="/notes" tuiButton size="m" appearance="outline" >Notes</a>
            <a routerLink="/todos" tuiButton size="m" appearance="outline" >Todos</a>
        </div>
        <div class="container-account">
            <a href="javascript:void(0)" tuiButton size="m" appearance="whiteblock" routerLink="/auth/login" class="btn-login" >Login</a>
        </div>
    </div>
</div>