.container-sidebar {
  height: 100%;
  width: 250px;
  background-color: #526ed3;
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  .container-logo {
    p.logo {
      font-size: 40px;
      color: var(--tui-base-03);
      user-select: none;
      cursor: pointer;
      text-align: center;
    }
    padding-bottom: 20px;
  }

  .container-navs{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .container-pages{
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      
    }
    
    .container-account{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
        h1{
          color: white;
        }
        a.btn-login{
            display: block;
            width: calc(100% - 40px);
            margin: 0 20px;
        }
    }
  }
}
.active{
  ::ng-deep{

    .t-content{
      color: white;
    }
  }
}